.box{
  position: relative;
}
.box p{
  position: absolute;
  top: 200px;
  left:38%;
  color:aliceblue;
}

.box p2{
  position: absolute;
  top: 200px;
  left:38%;
  color:aliceblue;
  opacity: 0;
}




.off-image {
  margin-left: 0px;
  margin-top: 0px;
  z-index: 1;
}
.on-image {
  z-index: 0;
  position: absolute;
    top: 0px;
    left: 0px;
  opacity: 0;
}


