.box{
  position: relative;
}
.box p{
  position: absolute;
  top: 10%;
  left:50%;
  color:aliceblue;left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.box p2{
  position: absolute;
  display: flex;
  text-align: center;
  top: 10%;
  left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  color:aliceblue;
  opacity: 0;
}




.off-image {
  margin-left: 0px;
  margin-top: 0px;
  z-index: 1;
}
.on-image {
  z-index: 0;
  position: absolute;
    top: 0px;
    left: 0px;
  opacity: 0;
}


